.RegisterTable {
    table-layout: fixed;
    width: 100%;
}
.RegisterBitNumber td {
    text-align: center;
    border: 0px !important;
}
.RegisterFields td {
    text-align: center;
    word-break: break-all;
}
.overlined {
    text-decoration: overline;
    font-family: monospace;
}
